.results, .favorites {
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    flex-direction: column;
    flex-wrap: wrap;
    /* background-color: rgb(245, 162, 53, .6); */
}

.providerCard {
    display: flex;
    /* justify-content: center; */
    width: 50vw;
    height: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    margin: 5px;
    align-items: stretch;
}

.icons {
    display: flex;
    width: 60px;
}

.icon {
    display: flex;
    /* align-self: center; */
    justify-content: center;
    align-content: center;
}

.location {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 5px;
}

.email {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 5px;
}

.languages {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 5px;
}

.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    margin-top: 5px;
    /* height: 24px; */
}

.dot {
    font-size: 13px;
    margin-left: 5px;
    margin-top: 3px;
    margin-right: 4px;
}



.providerText {
    flex-grow: 5;
}


/* Child Profile Div */

.page {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    
}

.childAvatar {
    margin-top: 25px;

}

.childProfile {
    display: inline-flex;
    flex-direction: column;
    /* align-content: center; */
    align-items: center;
    width: 25vw;
    -webkit-appearance: button;
    border-right: 5px rgb(59, 189, 59) dotted;
}
