
.landingContainer {
  background-color: black;
  display: flex;
  flex-direction: row;
}

.globe {
  display: flex;
  width: 60vw;
  height: 100vh;
  /* align-self: flex-start | left; */
  margin-top: 20px;
  background-size: cover;
}

.formLayout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  
}

.globeImage {
  object-fit: contain;
  width: 95vw;
  height: 95vh;
  align-self: flex-start;
}

.loginForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.blurb {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}