.landingPage {
  background-image: url('../../../public/images/portugal2.jpg');
  background-size: cover;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  height: 75vh;
  align-items: center;
}

header {
  display: flex;
  justify-content: right;
  margin-right: 20px;
}