.createProfile {
    display: flex;
    justify-content: center;
}

.profileContainer {
    display: flex;
    /* width: 50vw; */
    margin-top: 20px;
    flex-direction: column;
    align-content: center;
    /* justify-content: center; */
    height: 80vh;
    width: 40vw;
    -webkit-appearance: button;
    border: 4px rgb(59, 189, 59, .8) dotted;
    border-radius: 5px;
}

.userAvatar {
    align-self: center;
}

.submitForm {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    width: 30vw;
    align-self: center;
}

.locationForm {
    display: flex;
    flex-direction: row;
    margin-left: 33px;
    margin-top: 5px
}