

.userBox {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    /* justify-items: flex-start; */
}

/* Avatar {
    align-self: flex-start;
} */

.childBox {
    display: flex;
    flex-grow: 5;
    justify-content: center;
}

.childCards {
    display: flex;
}

.childAvatar {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.childName {
    display: flex;
    justify-content: center;
}

.childCard {
    margin-right: 20px;
    width: 15vw;
    height: 40vh;
}