.noChildren {
    margin-top: 125px;
    border-top: 5px orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 80vw; */
    /* border: 5px orange solid; */
}

.childHead {
    height: 100px;
    width: 100px;
}

.addButton {
    margin-top: 10px;
}