

.userBox {
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-direction: column;
    /* justify-items: flex-start; */
}

/* Avatar {
    align-self: flex-start;
} */

.childBox {
    display: flex;
    flex-grow: 5;
    justify-content: center;
}