.formLayout {
    display: flex;
    width: 30vw;
}

.loginForm {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: ; */
}

.actualForm {
    /* background-color: white; */
}

