.childForm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.child {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    align-items: center;
    /* margin-top: 10px;
    margin-left: 15px; */
}

.dropDowns {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin-top: 10px;
    margin-left: 15px;
}

.checkBoxes {
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    flex-wrap: wrap;
    height: 170px;
    margin-left: 20px;
    margin-top: 15px;
}

.buttons {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    margin-top: 20px;
}

form {
    width: 60vw;
}