.nav {
  display: flex;
  flex-direction: row;
  -webkit-appearance: button;
  border-bottom: 12px rgb(236, 47, 202, .8) solid;
  
  height: 60px;
}

.logo {
  display: flex;
  flex-grow: 3;
  margin-left: 10px;
}
.userIcon {
  height: 60px;
  width: 60px;
  object-fit: cover;
}

.logo2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.blank {
  flex-grow: 6;
}
.avatar {
  display: flex;
  flex-grow: .25;
  margin-top: 10px;
  justify-content: right;
}


